@import "~antd/lib/style/themes/default.less";
@import "~@/utils/utils.less";

.tableList {
  .tableListOperator {
    margin-bottom: 16px;
    button {
      margin-right: 8px;
    }
  }
}

.tableListForm {
  :global {
    .ant-form-item {
      display: flex;
      margin-right: 0;
      margin-bottom: 24px;
      > .ant-form-item-label {
        width: auto;
        padding-right: 8px;
        line-height: 32px;
      }
      .ant-form-item-control {
        line-height: 32px;
      }
    }
    .ant-form-item-control-wrapper {
      flex: 1;
    }
  }
  .submitButtons {
    display: block;
    margin-bottom: 24px;
    white-space: nowrap;
  }
}

.gameList {
  margin-top: 20px;
  :global {
    .ant-spin-container {
      display: flex;
      flex-wrap: wrap;
    }
    .ant-list-item {
      padding: 0;
    }
  }
}

.gameItem {
  height: 258px;
  margin: 25px;
  position: relative;
  width: 160px;
  box-shadow: 2px 4px 12px 2px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  // border: 1px solid #ebeef5;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  .gameContainer {
    position: relative;
    &:hover {
      .gameDetail {
        opacity: 1;
      }
    }
    .gameDetail {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      transition: all ease 0.5s;
      padding: 10px;
      opacity: 0;
      p {
        color: #fff;
        line-height: 1;
        margin: 0;
      }
      .detailInfo {
        font-size: 12px;
        height: 198px;
        justify-content: space-between;
        text-align: center;
        display: flex;
        flex-flow: column;
        .infoItem {
          .gameName {
            line-height: 1.5;
            font-size: 13px;
            text-shadow: 1px 1px 10px #909399;
          }
          .gameName {
            margin-top: 10px;
          }
          .score {
            color: #f56c6c;
            font-size: 36px;
          }
          .type {
            line-height: 1.5;
            margin-top: 10px;
          }
          .date {
            margin-top: 10px;
          }
        }
      }
      .operationArea {
        height: 40px;
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    }
    .gameCover {
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: @screen-lg) {
  .tableListForm :global(.ant-form-item) {
    margin-right: 24px;
  }
}

@media screen and (max-width: @screen-md) {
  .tableListForm :global(.ant-form-item) {
    margin-right: 8px;
  }
}
